[user]
	email = iwase22334@gmail.com
	name = iwase22334
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool=vimdiff
[mergetool]
	prompt=false

[alias]
	st = status
	co = commit
	com = commit -m
	ad = add
	ch = checkout
	di = diff
	dic = diff --cached

[commit]
	tamplate = ~/.gitmessage.txt
	template = /home/iwase/.gitmessage.txt
[core]
	excludesfile = /home/iwase/.gitignore_global
	editor = vim
    filemode=false
	autocrlf = false
